.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin: 2rem;
    padding: 2rem;
    box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.1);
    border-radius: 0.6rem;

    .container__upload-form {
        flex-grow: 1;
        max-width: 31.875rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .upload-form__submit-btn {
            margin-top: 0.5rem;
        }
    }
}

.clickable:hover {
    cursor: pointer;
}

.contacts-table {
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.1);
    border-radius: 0.6rem;
}